mixin chooseLoginSign()
    .login-form.modal.fade(id="signlogModal", role="dialog")
        .modal-dialog
            .modal-content.container-fluid
                div
                    .modal-body
                        .row
                            label.col-xs-10.col-xs-offset-1 you need to register or log in to confirm your delivery
                    .modal-footer
                        .row
                            button.col-xs-3.col-xs-offset-1.btn.btn-default( id='regButtonloginSign', type="button", data-toggle="modal", data-target="#signlogModal")
                                a#signUpAnchor
                                    span.glyphicon.glyphicon-user
                                        |  Sign Up 
                            button.col-xs-3.col-xs-offset-1.btn.btn-default( id='loginButtonloginSign', type="button", data-toggle="modal", data-target="#signlogModal")
                                a
                                    span.glyphicon.glyphicon-log-in
                                        |  Login
                            button.col-xs-3.btn.btn-default(type="button", id="orderFormClose" ,data-toggle="modal" data-target="#signlogModal") Close
