mixin container(products)
 .container 
  .row 
   each product in products
    .col-md-4.product-wrapper
     .product-content.row
      h2.product-name.col-xs-10.col-xs-offset-1= product.name
      img.product-image(src="/path-to-image.jpg" alt="Image Title")
      p.product-discription.col-xs-10.col-xs-offset-1= product.discription 
      p
      a.btn.btn-default.col-xs-10.col-xs-offset-1(href='#', role='button') View details »
  