mixin footer()
    footer.footer.navbar-fixed-bottom.navbar.navbar-default.nav
        .container
            .col
                p.text-centered.col-xs-offset-2.col-xs-2.text-light THE FOOD STORE
                p.text-centered.text-light.col-xs-6 A standard web application using Node.js, Express and MariaDB
                a.text-centered.text-success.col-xs-2(href='https://github.com/shdwskip/Web-App-Express') GitHub

