mixin login()
    //- div(class="login-form modal fade", id="loginModal", role="dialog")
        //- div.modal-dialog.modal-sm
        //-     div.modal-content
        //-         form.modal-body(action="/login" method="post")
                        //- .row
                        //-     h2.col-xs-3 Login
        //-                 .row
        //-                     .form-group.col-xs-3
        //-                         div.input-height
        //-                             label(for="", value="") Email:          
        //-                         div.input-height
        //-                             label(for="", class="login-label" value="") Password:            
        //-                     .form-group.col-xs-6
        //-                         div.input-height
        //-                             input(type="email", name="username", id="loginFormEmail", placeholder="my@email.com")
        //-                             span(id="loginFormMailError", class="errorSpan") Required
        //-                         div.input-height
        //-                             input(type="password", id="loginFormPassword", name="password")
        //-                             span(id="loginFormPasswordError", class="errorSpan") Required
        //-                         input(type='submit', value='Log In')
        //-                 div.modal-footer
        //-                 input(type='submit', value='Log In')
                                //- button(type="submit", class="btn btn-default", id="loginFormSubmit") Login
                                //- button(type="button", class="btn btn-default", id="loginFormClose" ,data-toggle="modal" data-target="#loginModal") Close     

    .login-form.modal.fade(id="loginModal", role="dialog")
        .modal-dialog.modal-sm
            .modal-content.container-fluid
                form(action='/login', method='post')
                    .row.modal-header
                        h2.col-xs-4.col-xs-offset-3 Login
                        span.col-xs-4.col-xs-offset-3(id="loginFormUserValidationError") &nbsp 
                    .modal-body
                        .row
                            label.col-xs-3 Email:
                            input.col-xs-7.col-xs-offset-2#loginEmail(type='email', name='email')
                    .modal-body
                        .row
                            label.col-xs-3 Password:
                            input.col-xs-7.col-xs-offset-2#loginPassword(type='password', name='password')
                    .modal-footer
                        .row
                            button.col-xs-4.col-xs-offset-2(type="submit", class="btn btn-default", id="loginFormSubmit") Login
                            button.col-xs-4.col-xs-offset-4(type="button", class="btn btn-default", id="loginFormClose" ,data-toggle="modal" data-target="#loginModal") Close