mixin login()
    .login-form.modal.fade(id="loginModal", role="dialog")
        .modal-dialog.modal-sm
            .modal-content.container-fluid
                form.form(action='/login', method='post')
                    .modal-header.container-fluid
                            h2.col-xs-4.col-xs-offset-4 Login
                            span.col-xs-4.col-xs-offset-4(id="loginFormUserValidationError") &nbsp 
                    .modal-body
                        .row
                            label.col-xs-3 Email:
                            input.col-xs-7.col-xs-offset-2(id ='loginEmail', type='email', name='email')
                    .modal-body
                        .row
                            label.col-xs-3 Password:
                            input.col-xs-7.col-xs-offset-2(id='loginPassword', type='password', name='password')
                    .modal-footer
                        .row
                            button.col-xs-4.col-xs-offset-2(type="submit", class="btn btn-default", id="loginFormSubmit") Login
                            button.col-xs-4.col-xs-offset-4(type="button", class="btn btn-default", id="loginFormClose" ,data-toggle="modal" data-target="#loginModal") Close