mixin login()    
    div(class="login-form modal fade", id="loginModal", role="dialog")
        div.modal-dialog.modal-sm
            div.modal-content
                form.modal-body(action="/login" method="post")
                    .row
                        h2.col-xs-3 Login
                    .row
                        .form-group.col-xs-3
                            div
                                label(for="", value="") Email:            
                            div
                                label(for="", value="") Password:            
                        .form-group.col-xs-3
                            div
                                input(type="email", name="username" placeholder="gotin@sum.az")
                            div
                                input(type="password", name="password")
                    div.modal-footer
                        button(type="submit") Login   
