include ./nav
doctype html
html(lang='en')
  head
    title FoodStore
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href='/static/styles/main.css')
    link(rel="stylesheet", href='/static/styles/container.css')
>>>>>>> 3b8bde0df9a330a2c2de6348f6b8e67cfb96e1f5
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet", href='/static/styles/main.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
<<<<<<< HEAD
    +nav()
    block content
=======
   block content
>>>>>>> 3b8bde0df9a330a2c2de6348f6b8e67cfb96e1f5
