mixin navigation(buttons)
 nav.navbar.navbar-fixed-top.navbar-default.nav
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#') Food Store
      div.navbar-toggle
          a(href='#')
            span.glyphicon.glyphicon-shopping-cart(aria-hidden="true")
              span.badge.items-basket 10 
          button(type='button', data-toggle='collapse', data-target='.collapse')
            span.glyphicon.glyphicon-menu-hamburger(aria-hidden="true")
    .collapse.navbar-collapse.container
        ul.nav.navbar-nav
          li.active
            a(href='#') Home
          each button in buttons
            li
              a(href=button.href) #{button.text}
          li
            +navigation2
         
        ul.nav.navbar-nav.navbar-right
          li.hidden-xs
                a(href='#')
                  span.glyphicon.glyphicon-shopping-cart(aria-hidden="true")
                    span.badge.items-basket 10      
          li
            a(href='#', data-toggle="modal" data-target="#regModal")
              span.glyphicon.glyphicon-user
              |  Sign Up
          li
            a(href='#', data-toggle="modal" data-target="#loginModal")
              span.glyphicon.glyphicon-log-in
              | Login
        ul.nav.navbar-nav

mixin navigation2(buttons)
  .container-fluid
    .row
      div
        form.navbar-form(role="search")
          input.col-xs-6
      div
        form.navbar-form(role="search")
          input.col-xs-6
