mixin navigation(buttons)
 nav.navbar.navbar-fixed-top.navbar-default.nav
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#') Food Store
        div.navbar-toggle
            a(href='#')
              span.glyphicon.glyphicon-shopping-cart(aria-hidden="true")
                span.badge.items-basket 10 
            button.btn.btn-default(type='button', data-toggle='collapse', data-target='.collapse')
              span.glyphicon.glyphicon-align-justify(aria-hidden="true")
      .collapse.navbar-collapse.container
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            each button in buttons
              li
                a(href=button.href) #{button.text}
            li
              form.navbar-form.navbar-left
                div.input-group
                  input(placeholder="Search" type="text")
                  button.btn.btn-default(type="submit" class="btn btn-default")
                    i.glyphicon.glyphicon-search
          ul.nav.navbar-nav.navbar-right
            li.hidden-xs
                  a(href='#')
                    span.glyphicon.glyphicon-shopping-cart(aria-hidden="true")
                      span.badge.items-basket 10      
            li
              a(href='#', data-toggle="modal" data-target="#regModal")
                span.glyphicon.glyphicon-user
                |  Sign Up
            li
              a(href='#', data-toggle="modal" data-target="#loginModal")
                span.glyphicon.glyphicon-log-in
                |  Login
