mixin navigation(buttons)
 nav.navbar.navbar-fixed-top.navbar-default
  .container-fluid
      a.nav.navbar-nav.d.none.d-sm-none.d-md-none(href='#') WebSiteName !
      //- a.navbar-brand.collapse.navbar-collapse.nav.navbar-nav(href='#') WebSiteName
      .navbar-container
        ul.collapse.navbar-collapse.nav.navbar-nav
          li.active
            a(href='#') Home
          each button in buttons
            li
              a(href=button.href) #{button.text}
              
        .navbar-container.navbar-right
          ul.collapse.navbar-collapse.nav.navbar-nav
            li
              a(href='#')
                span.glyphicon.glyphicon-user
                |  Sign Up
            li
              a(href='#')
                span.glyphicon.glyphicon-log-in
                |  Login
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.collapse')
          span.glyphicon.glyphicon-menu-hamburger(aria-hidden="true")
              
      

