mixin register()
    div(class="reg-form modal fade", id="regModal", role="dialog")
        div.modal-dialog
            div.modal-content
                div.modal-body
                    .container
                        .row
                            h2.col-xs-3 Register
                        .row
                            .form-group.col-xs-3
                                div
                                    label(for="", value="") Name:
                                div
                                    label(for="", value="") E-mail:            
                                div
                                    label(for="", value="") Password:        
                                div
                                    label(for="", value="") Re-enter password:        
                                div
                                    label(for="Address", value="Address") Line 1     
                                div
                                    label(for="Address", value="Address") Line 2
                                div
                                    label(for="Address", value="Address") City
                                        
                            .form-group.col-xs-3
                                div
                                    input(type="text", placeholder="gotin")
                                div
                                    input(type="email", placeholder="gotin@sum.az")
                                div
                                    input(type="password", name="")
                                div
                                    input(type="password", name="")
                                div
                                    input(type="text", placeholder="Street address")
                                div
                                    input(type="text", placeholder="Apartment, floor, etc")
                                div
                                    input(type="text", placeholder="Sofia")
                    div.modal-footer
                        button(type="submit") Register   