mixin register()
    div(class="reg-form modal fade", id="regModal", role="dialog")
        div.modal-dialog
            div.modal-content
                form.modal-body(action="/register" method="post")
                    .row
                        h2.col-xs-3 Register
                    .row
                        .form-group.col-xs-3
                            div.input-height
                                label(for="", value="") Name:
                            div.input-height
                                label(for="", value="") E-mail:            
                            div.input-height
                                label(for="", value="") Password:        
                            div.input-height
                                label(for="", value="") Re-enter password:        
                            div.input-height
                                label(for="Address", value="Address") Line 1     
                            div.input-height
                                label(for="Address", value="Address") Line 2
                            div.input-height
                                label(for="Address", value="Address") City                                
                        .form-group.col-xs-8
                            div.input-height
                                input(type="text", name="name", class="regFormInput", id="regFormName" placeholder="Name")
                                span(id="regFormNameError", class="errorSpan") Name required!
                            //- div.input-height
                            //-     input(type="email", name="email", class="regFormInput", id="regFormEmail", placeholder="my@email.com")
                            //-     span(id="regFormEmailError", class="errorSpan") Email required!
                            //-     span(id="regFormInvalidEmailError", class="errorSpan") Invalid Email!
                            //- div.input-height
                            //-     input(type="password", name="password" class="regFormInput", id="regFormPassword", , placeholder="Password")
                            //-     span(id="regFormPasswordError", class="errorSpan") Password required!
                            //- div.input-height
                            //-     input(type="password", class="regFormInput", id="regFormPasswordConfirm", placeholder="Re-password")
                            //-     span(id="regFormPasswordConfirmError", class="errorSpan") Passwords must match
                            //- div.input-height
                            //-     input(type="text", class="regFormInput",  name="street", id="regFormLine1", placeholder="Street address")
                            //-     span(id="regFormLine1Error", class="errorSpan") Required
                            //- div.input-height
                            //-     input(type="text", class="regFormInput",  name="apartment", id="regFormLine2", placeholder="Apartment, floor, etc")
                            //-     span(id="regFormLine2Error", class="errorSpan") Required
                            //- div.input-height
                            //-     input(type="text", class="regFormInput",  name="city" id="regFormLine3", placeholder="Sofia")
                            //-     span(id="regFormLine3Error", class="errorSpan") Required
                    div.modal-footer
                        button(type="submit", class="btn btn-default", id="regFormSubmit") Register   
                        button(type="submit", class="btn btn-default", id="regFormClose",data-toggle="modal" data-target="#regModal") Close   