div(id="template-head")
    table.table.table-bordered
                div
                    p Current order
                    tbody
                        tr.info
                            td(colspan="4") Includes Products
                        tr.active(id="last-tr")
                            td Name: 
                            td Price: 
                            td Category:
                            td Picture:
div(id="template-body")
    table.table.table-bordered
            tbody(id="product")
                tr
                    td(id="name") 1
                    td(id="price") 2
                    td(id="category") 3
                    td(id="picture") 5



//- div(id="template-body")
//-     tr
//-         tbody
//-             tr
//-                 td(id="name") 1
//-                 td(id="price") 2
//-                 td(id="category") 3
//-                 td(id="picture") 5



                        //- div(id="template-head")
//-     table.table.table-bordered
//-                 div
//-                     p Current order
//-                     tbody
//-                         tr.info
//-                             td(colspan="4") Includes Products
//-                         tr.active(id="last-tr")
//-                             td Name: 
//-                             td Price: 
//-                             td Category:
//-                             td Picture: