extends ./_shared/master

block content
    h1
        | Admin Page
    div
        ul
            li
                | Manage Orders
            li
                | Manage Users
            li
                a(href='/categories')
                    | Manage Categories
            li
                a(href='/products')
                    | Manage Products