extends ./_shared/master
include ./_shared/navigation
include ./_shared/container
include ./_shared/login
include ./_shared/register
include ./_shared/confirm.delivery.pug

block content
 +navigation(buttons) 
 +container(products)
 +login()
 +register()
 +confirmDelivery()
