doctype html
html(lang='en')
  head
    title Gotin Sum
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style(type='text/css').
        ul li {
                list-style-type: none;
            }
    
  include bootstapNavBar.pug
  body
    +bootstapNavBar('Vegetables','Dairy','Fruit','Beverages','Register','Login')
    
    .col-xs-12.text-center
        h2 Login
        .form-group
            label(for="", value="") Username:
            input(type="text", placeholder="gotin")
        .form-group
            label(for="", value="") Password:
            input(type="password", name="")
        button(type="submit") Login   
        button(type="submit") Register   
        p hot sauce on my spaghetti