extends ./_shared/master

block content
    +bootstapNavBar('Vegetables','Dairy','Fruit','Beverages','Register','Login')
    
    .col-xs-12.text-center
        h2 Register
        .form-group

                label(for="", value="") Username:
                .div
                    input(type="text", placeholder="gotin")
                label(for="", value="") E-mail:
                .div
                    input(type="email", placeholder="gotin@sum.be")
                label(for="", value="") Password:
                .div
                    input(type="password", name="")
                label(for="", value="") Re-enter password:
                .div
                    input(type="password", name="")
                label(for="Address", value="Address") Add Address
                .div
                    textarea(name="address", cols="18", rows="3", placeholder="Sofia Mladost 1 Telerik Enterprise 1")
        
        
        
        button(type="submit") Register   
        p my pants are full of determination