extends ./_shared/master

block content
    .container
      h3.col-xs-4 Order History
      h3.col-xs-4 Active Orders
      h3.col-xs-4 User Setting
      .container.user-lists
        .row
            ul.list-group.col-xs-4
                li.row.list-group-item-info
                    .number.col-xs-3 #0001 
                    .date.col-xs-3 02.10.17
                    .price.col-xs-3 50 leva
                    input(type="button", value="Details", class="btn-primary")
                li.row.list-group-item-info
                    .number.col-xs-3 #0001 
                    .date.col-xs-3 02.10.17
                    .price.col-xs-3 50 leva
                    input(type="button", value="Details", class="btn-primary")
                li.row.list-group-item-info
                    .number.col-xs-3 #0001 
                    .date.col-xs-3 02.10.17
                    .price.col-xs-3 50 leva
                    input(type="button", value="Details", class="btn-primary")
                li.row.list-group-item-info
                    .number.col-xs-3 #0001 
                    .date.col-xs-3 02.10.17
                    .price.col-xs-3 50 leva
                    input(type="button", value="Details", class="btn-primary")
            ul.list-group.col-xs-4
                li.row.list-group-item-danger
                    .number.col-xs-3 #0001 
                    .date.col-xs-3 02.10.17
                    .price.col-xs-3 50 leva
                    input(type="button", value="Details", class="btn-primary")
                li.row.list-group-item-danger
                    .number.col-xs-3 #0001 
                    .date.col-xs-3 02.10.17
                    .price.col-xs-3 50 leva
                    input(type="button", value="Details", class="btn-primary")
                li.row.list-group-item-danger
                    .number.col-xs-3 #0001 
                    .date.col-xs-3 02.10.17
                    .price.col-xs-3 50 leva
                    input(type="button", value="Details", class="btn-primary")
                li.row.list-group-item-danger
                    .number.col-xs-3 #0001 
                    .date.col-xs-3 02.10.17
                    .price.col-xs-3 50 leva
                    input(type="button", value="Details", class="btn-primary")
                li.row.list-group-item-danger
                    .number.col-xs-3 #0001 
                    .date.col-xs-3 02.10.17
                    .price.col-xs-3 50 leva
                    input(type="button", value="Details", class="btn-primary")
            .col-xs-4
                .form-group
                    .div
                        label(for="email", value="email") Change E-mail
                    input(type="text", placeholder="current@mail.com")
                    .div
                        label(for="pass", value="") Confirm Password
                    input(type="password", name="")
                    .div
                        input(type="submit", value="Change")