body {
    /* margin: 0; */
    background-color: darkolivegreen;
}

h1 {
    color: dodgerblue;
    border: 3px solid purple;
}

.nav a {
    color: white !important;
}

.navbar {
 background-color:#eef7be;
}

/* .container{
    background-color: darkolivegreen;
} */

.navbar-nav li {
    border-left: 1px solid white;
}

.navbar-nav li:first-of-type {
    border: 0;
}

.navbar-brand {
    color: black !important;
}

.active a {
    color: black!important;
}

.loggedInUser {
    padding: 15px 15px;
    color: black;
    font-weight: bold;
}